.container {
  display: grid;
  padding-top: 1.65rem /* 28px */;
  padding-bottom: 1.75rem /* 28px */;
  padding-left: 1.75rem /* 12px */;
  padding-right: 0.75rem /* 12px */;
  place-items: center;
}

.layout {
  height: 100%;
}

.title {
  font-size: 2rem;
  margin: 0.5rem;
  color: white;
}

.link {
  font-size: 1.3rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.btn {
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  background: rgb(33, 122, 255, 0.85);
  transition: all 80ms ease-in-out;
}

.btn:hover {
  background: rgba(33, 122, 255);
}

.btn:active {
  transform: scale(0.95);
}

.col2 {
  border-radius: 1rem /* 16px */;
  padding: 1rem /* 16px */;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem /* 8px */;
  align-self: center;
  margin-top: 4rem /* 64px */;
  color: rgba(55, 59, 100, 1);
  align-items: flex-start;
  gap: 1rem;
}

.img {
  border-radius: 10%;
}

.backKey{
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .layout {
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
    height: 100vh;
  }

  .col2 {
    width: 75%;
    gap: 0.6rem;
  }
  .btn {
    padding: 1rem 1.7rem;
  }

  .col {
    gap: 0.7rem;
  }
}

@media (min-width: 768px) {
  .layout {
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
  }
}

@media (min-width: 640px) {
  .container {
    width: 100%;
  }

  .layout {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }
}

@media only screen and (min-device-width: 640px) {
  .container {
    grid-template-columns: repeat(2, minmax(1, 0));
  }
}
@media only screen and (min-device-width: 768px) {
  .card {
    width: 18rem;
  }
}
@media only screen and (min-device-width: 1024px) {
  .card {
    width: 24rem;
  }
}
@media only screen and (min-device-width: 1280px) {
  .card {
    width: 24rem;
  }
}
@media only screen and (min-device-width: 1536px) {
  .container {
    grid-template-columns: repeat(1fr, minmax(2, 0));
  }
}
